.container{
    position: relative;
    width: 100%;
    box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
    background: rgba(255, 255, 255, 0);
    height: max-content;
    user-select: none;
    >.first_line{
        width:100%;
        height: 521px;
        display: grid;
        grid-template-columns: 7fr 2fr;
        >.main_add{
            height: 521px;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);
            display: grid;
            grid-template-columns: 1.8fr 0.8fr 1fr;
            grid-template-rows: 182.86px 27.43px 215px auto;
            &:hover .image .img{
                filter: grayscale(0);
            }
            >.image{
                grid-column: 2/4;
                grid-row: 1/5;
                height: 521px;
                align-items: center;
                padding: 10px;
                >.img{
                    height: 100%;
                    background-size: fill;
                    background-position: center;
                    background-repeat: no-repeat;
                    filter: grayscale(1);
                    transition: 0.7s;
                }
            }
            >h1{
                grid-column: 1/3;
                grid-row: 1/2;
                font-size: 88.37px;
                font-weight: 700;
                line-height: 91.43px;
                text-align: left;
                text-transform: uppercase;
                height: 182.86px;
                margin-left: 37px;
                padding-top: 10px;
            }
            >h4{
                font-size: 16.58px;
                margin-left: 37px;
                font-weight: 400;
                line-height: 27.43px;
                text-align: left;
                text-transform: uppercase; 
            }
            >.desc{
                margin-left: 37px;
                width: 611px;
                height: 206px;
                display: flex;
                flex-direction: column;
                gap: 30px;
                margin-top: 50px;
                >p{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22.86px;
                }
            }
            >button{
                font-size: 20px;
                font-weight: 400;
                line-height: 27.43px;
                text-align: left;
                text-transform: uppercase;
                margin-left: 37px;
                &:hover{
                    color: rgba(99, 11, 131, 1.00)
                }
            }
        }

        >.hotline{
            width:100%;
            height: 100%;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);
            
            >.hotline_card{
                margin: 18px;
                width:calc(100% - 36px);
                height:calc(100% - 36px);
                box-shadow: inset 0px 0px 0px 2px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
                background: rgba(255, 255, 255, 0);
                &:hover .image img{
                    filter: grayscale(0);
                }
                >.image{
                    align-items: center;
                    padding: 20px 29px;
                    padding-top:40px;

                    > img {
                        filter: grayscale(0.9);
                        transition: 0.7s;
                       }
                }
                >h2{
                    padding: 0px 60px;
                    font-size: 45px;
                    font-weight: 700;
                    line-height: 53.71px;
                    text-align: center;
                    text-transform: uppercase;
                }
                >.contacts{
                    width: 100%;
                    padding: 30px;
                    display: grid;
                    grid-template-columns: 2.8fr 5fr;

                    >h3{
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 27.43px;
                        text-transform: uppercase;
                    }
                    >p, button{
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 29.39px;
                        text-align: right;
                        text-transform: uppercase;
                    }
                    >p{
                        user-select: all;
                    }
                    >button:hover{
                        color: rgba(99, 11, 131, 1.00); 
                    }
                }
            }
        }
    }
    >.second_line{
        width:100%;
        height: 1017.39px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 903.11px 114.28px;
        >.story_add{
            width: 100%;
            height: 903.11px;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);
            &:hover img{
                filter: grayscale(0);
            }
            >h1{
                padding: 35px;
                font-size: 71.17px;
                font-weight: 700;
                line-height: 77.71px;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 0;
            }
            >img{
                filter:grayscale(1);
                transition: 0.7s;
                padding: 0 65px;
                width: 100%;
            }
            >p{
                height: 180px;
                align-items: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.86px;
                padding: 37px;
            }
        }
        >.advantages_add{
            grid-column: 2/3;
            grid-row: 1/3;
            height: 100%;
            width: 100%;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);

            >h1{
                padding: 35px;
                font-size: 71.17px;
                font-weight: 700;
                line-height: 77.71px;
                text-align: left;
                text-transform: uppercase;
                padding-bottom: 0;
            }
            >h4{
                font-size: 16.58px;
                font-weight: 400;
                line-height: 27.43px;
                text-transform: uppercase;
                padding-left: 35px;
                padding-bottom: 15px;
            }
            >li{
                font-size: 16px;
                font-weight: 400;
                line-height: 22.86px;
                padding: 6px 32px 0px 35px;
            }
            >img{
                padding: 20px 0;
                padding-bottom: 0;
                width: 100%;
                filter: grayscale(1);
                transition: 0.7s;
            }
            &:hover img{
                filter:grayscale(0);
            }
        }

        >.ai_add{
            width: 100%;
            height: 903.11px;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);
            &:hover img{
                filter: grayscale(0);
            }
            >h1{
                padding: 35px;
                font-size: 71.17px;
                font-weight: 700;
                line-height: 77.71px;
                text-align: center;
                text-transform: uppercase;
                padding-bottom: 0;
            }
            >img{
                filter:grayscale(1);
                transition: 0.7s;
                padding: 37px;
                width: 100%;
            }
            >p{
                height: 180px;
                align-items: center;
                font-size: 16px;
                font-weight: 400;
                line-height: 22.86px;
                padding: 37px;
            }
        }
        >h1{
            grid-column: 3/4;
            width: 100%;
            height: 100%;
            padding: 28px 45px;
            padding-bottom: 9px;
            font-size: 45px;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
            transition: 0.8s;
            cursor: pointer;
            &:hover{
                color: rgba(99, 11, 131, 1.00);   
            }
       }
    }
}