.container{
    user-select: none;
    position: relative;
    max-width: 1676.88px;
    height: 284.41px;
    box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
    background: rgba(255, 255, 255, 0);
    >.header{
        box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
        background: rgba(255, 255, 255, 0);
        position: relative;
        height: 224.97px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 224.97px;
        justify-content: center;
        >.logo{
            padding: 0 10px;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);
            grid-column: 1/2;
            align-items: center;
            &:hover .logo_img{
                filter: grayscale(0);
            }
            >.logo_img{
                padding:0 10px;
                margin:auto;
                margin-top: 8px;
                padding-bottom: 8px;
                filter: grayscale(1);
                transition: 0.7s;
            }
        }

        >.title_wrapper{
            grid-column: 2/6;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);
            text-align: center;
            align-items: center;
            >.today{
                margin-top:15px;
                font-size: 20.44px;
                font-weight: 400;
                line-height: 29.39px;
                text-transform: uppercase;
            }
            >h1{
                width: 100%;
                height: 66px;
                font-size: 80px;
                font-weight: 700;
                line-height: 27.43px;
                text-align: center;
                text-transform: uppercase;
                margin-top: 34.46px;
            }
            >h3{
                height: 44.08px;
                margin-top: 19px;
                align-items: center;
                font-size: 26.19px;
                font-weight: 700;
                line-height: 44.08px;
                text-align: center;
            }
        }

        >.creator{
            padding: 85px 64px;
            >button{
                font-size: 16.42px;
                font-weight: 700;
                line-height: 27.43px;
                text-align: center;
                text-transform: uppercase;

                &:hover{
                    color: rgba(99, 11, 131, 1.00)
                }
            }
        }
    }

    >.navbar{
        width: 100%;
        height: 59.44px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 59.44px;
        align-items: center;
        >.link{
            height: 100%;
            box-shadow: inset 0px 0px 0px 1px rgb(35, 31, 32),0px 0px 0px 1px rgb(35, 31, 32);
            background: rgba(255, 255, 255, 0);
            font-size: 15.77px;
            font-weight: 700;
            line-height: 27.43px;
            text-align: center;
            text-transform: uppercase;
            padding-top: 15.77px;
            z-index: 1;
            &:hover{
                color: rgba(99, 11, 131, 1.00)
            }

            >div.link_img {
                width: 100%;
               height: 100%;
               margin-top: -35.77px;
                & img{
                    margin: auto;
                    opacity: 0;
                    transition: 1s;
                    animation: anim 1s linear forwards;
                }
            }
            
            >div.active img{              
                opacity: 1;
                transition: 1s;
            }
        }
       
    }
}